<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registration</title>
</head>
<body>
    <form method="post">
        <table>
            <tr>
                <td>user_id:</td>
                <td>
                    <input type="text" name="u_id" >
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>
                    <input type="email" name="email" id="">
                </td>
            </tr>
            <tr>
                <td>password:</td>
                <td>
                    <input type="password" name="password" id="">
                </td>
            </tr>
            <tr>
                <td>
                    <a href="login">login</a>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">registration</button>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>